:root {
    --primary: #2E3638;
    --secondary: #F7E1D7;
    --accent: #EDAFB8;
    --highlight: #B0C4B1;
	--accent2: #798FCD;
    --background: #EEECE8;
    --max-width: 840px;
    --static6: rgba(255, 255, 255, 0.15);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-padding-top: 5em;
	 /* background-color: #EEECE8; */
}

/* ----- HEADER ----- */
.button {
	border: 2px solid var(--primary);
	border-radius: 10px;
	background-color: var(--secondary);
	padding: 10px 15px;
	width: auto;
	display: inline-block;
	margin: 4px 8px;
	vertical-align: top;
	outline: 1px solid transparent; /* Define a border without affecting the layout */
	box-shadow: 5px 5px 0px var(--primary); 
}

.button a {
	cursor: pointer;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size:medium;
	font-weight:normal;
	text-decoration: none;
	color: var(--primary);
}

.button:hover {
	background-color: var(--accent2);
}

.button.shrink {
	padding: 8px 12px;
}

.button a.shrink {
	font-size:small;
}

.active {
	background-color: var(--accent);
}

.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.header-text {
	font-family: Helvetica,sans-serif;
	font-size:xx-large;
	font-weight: bolder;
	text-decoration: none;
	color: var(--primary);
}

.header-content {
	display: flex;
	justify-content: space-between;
	padding: 5px 40px;
	margin: 0 auto;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.header-content.shrink {
	padding: 5px 10px;
}

.header {
	position: sticky;
	top: 0;
    background-color: #ffffff90;
	backdrop-filter: blur(5px);
	z-index: 1;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column; 
        align-items: center;
		padding: 5px 5px;
    }

    .nav-menu {
		justify-content: center;
		left: auto;
		right: auto;
		padding: 10px;
    }

	.horizontal-wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hw-picture {
		width: 100%;
		margin-bottom: 20px;
	}
}

/* ----- BODY ----- */

.divider {
	margin: 20px;
}

.spacer{
	height: 20px;
}

.body-wrapper{
	display: flex;
    align-items: center;
    justify-content: center;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 20px;
}

.horizontal-wrapper {
	display: flex;
    justify-content: space-between;
	align-items: center;
	margin: 0px;
	width: var(--max-width);
}

.hw-picture {
	width: 32%;
}

.hw-picture img {
	border: 2px solid var(--primary);
	max-width: 100%;
	border-radius: 10px;
	outline: 1px solid transparent; 
	box-shadow: 5px 5px 0px var(--primary); 
	height: auto; 
	display: block; 
}

.hw-content {
	width: 65%;
}

.hw-content-full {
	width: 100%;
}


.hw-title-container {
	position: relative;
	width: 100%;
	height: 18px;
	background-color: var(--highlight);
}

.hw-title-text {
	/* Appearence */
	font-family: Helvetica,sans-serif;
	font-size:xx-large;
	font-weight: bolder;
	text-decoration: none;
	color: var(--primary);

	/* Position */
	position: relative;
	top: -12px; 
	left: 0px; 
	margin: 0;
	/* z-index: 1; */
}

.hw-desc-container {
	width: 100%;
}

.hw-desc-text {
	/* Appearence */
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size:normal;
	font-weight:normal;
	text-align: justify;
	text-decoration: none;
	color: var(--primary);
}
  
.subtitle {
	font-family: Verdana, sans-serif;
	font-size:large;
	font-weight:normal;
	text-decoration: none;
	color: var(--primary);
}

/* Standard parameters */

.text {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size:normal;
	font-weight:normal;
	text-align: justify;
	text-decoration: none;
	color: var(--primary);
	margin-top: 8px;
}

.highlight-text {
	font-family: 'Lucida Grande', sans-serif;
	font-size:normal;
	font-weight:bolder;
	text-align: justify;
	text-decoration: none;
	color: var(--accent2);
}