:root {
    --primary: #2E3638;
    --secondary: #F7E1D7;
    --accent: #EDAFB8;
    --highlight: #B0C4B1;
	--accent2: #798FCD;
    --background: #EEECE8;
	--background-alpha: #EEECE890;
    --max-width: 100%;
    --static6: rgba(255, 255, 255, 0.15);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-padding-top: 5em;
}

/* ----- NAV MENU ----- */
.button {
	border: 2px solid var(--primary);
	border-radius: 10px;
	background-color: var(--secondary);
	padding: 6px 14px;
	width: auto;
	display: inline-block;
	margin: 4px 8px;
	vertical-align: top;
	outline: 1px solid transparent; /* Define a border without affecting the layout */
	transition: all 0.3s ease-in-out; 
}

.button-text {
	cursor: pointer;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: normal;
	font-weight: normal;
	text-decoration: none;
	color: var(--primary);
	vertical-align: center;
	background-color: none;
}

.button:hover {
	background-color: var(--accent2);
	box-shadow: 5px 5px 0px var(--primary);  
}

.button.shrink {
	padding: 4px 12px;
}

.button a.shrink {
	font-size:small;
}

.active {
	background-color: var(--accent);
}

.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-menu a {
	text-decoration: none;
}

.header-content {
	display: flex;
	justify-content: center;
	padding: 5px 40px;
	margin: 0 auto;
	align-items: center;
}

.header {
	position: sticky;
	top: 0;
    background-color: #ffffff90;
	background-color: var(--background-alpha);
	backdrop-filter: blur(5px);
	z-index: 1;
}

/* ----- INTRO ----- */

.divider {
	margin: 20px;
}

.spacer {
	height: 2rem;
}

.intro-wrapper {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
	max-width: var(--max-width);
	margin: 0;
	position:relative;
	height: fit-content;
}

.title-rectangle {
	position: absolute;
	left: 0;
	width: 100%;
	height: 88px;
	background-color: var(--highlight);
	z-index: -1;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }


.title-wrapper {
	width: 60%;
	align-self:last baseline;
}

.title-text {
	/* Appearance */
	font-family: Helvetica,sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: var(--primary);
}

.subtitle-wrapper {
	width: var(--max-width);
	text-align: right;
	padding: 1rem;
}

.subtitle-text {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
	font-size: 2rem;
	text-decoration: none;
	color: var(--primary);	
}

.picture-wrapper {
	width: 22%;
	align-self: last baseline;
}

.picture-wrapper img {
	border: 2px solid var(--primary);
	width: 100%;
	/* border-radius: calc(0.3 * width); */
	outline: 1px solid transparent; 
	box-shadow: 5px 5px 0px var(--primary); 
}

/* ----- BODY ----- */

body {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	text-justify: justify;
	background-color: var(--background);
}

.body-wrapper {
	text-justify: justify;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 20px;
}

.h1{
	font-family: Helvetica,sans-serif;
	font-weight: normal;
	font-size: 3rem;
	text-decoration: none;
	color: var(--accent2);
}

mark {
	background-color: var(--background);
	color: var(--accent2);
	font-weight: bold;
}

p {
	margin: 1rem 0;
}


/* mirar vieweport */

@media (max-width: 620px) {
    .header-content {
        flex-direction: column; 
        align-items: center;
		padding: 5px 5px;
    }

    .nav-menu {
		justify-content: center;
		left: auto;
		right: auto;
		padding: 5px;
    }

	.intro-wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: fit-content;
	}

	.title-wrapper {
		align-self: auto;
		width: fit-content;
		margin-left: 0px;
	}

	.title-text {
		justify-content: center;
		width: fit-content;
	}

	.picture-wrapper {
		margin-top: 2rem;
		width: 30%;
		align-self: auto;
	}

	.subtitle-wrapper {
		width: var(--max-width);
		text-align: center;
	}

}