<div class="intro-wrapper">
    <div class="title-rectangle"></div>
    
    <div class="title-wrapper">
        <div class="title-text">
            <p>@</p>
        </div>
    </div>

    <div class="picture-wrapper">
        <a href="./projects.html">
            <img src=@ alt=":)">
        </a>
    </div>
</div>

<div class="spacer"></div>

<div class="subtitle-wrapper">
    <div class="subtitle-text">
        a robotic engineer deep into my PhD journey.
    </div>
</div>

<div class="spacer"></div>

<div class="subtitle-wrapper">
    <a href="https://linktr.ee/carmen.ballester">
        <div class="button">
            <div class="button-text">CONTACT</div>
        </div>
    </a>
</div>
