<header class="header">

    <div class="header-content">
        <div class="nav-menu">
            
            <a href="./index.html">
                <div class="button">
                    <div class="button-text">HOME</div>
                </div>
            </a>

            <a href="./projects.html">
                <div class="button">
                    <div class="button-text">PROJECTS</div>
                </div>
            </a>

            <a href="./about.html">
                <div class="button">
                    <div class="button-text">ABOUT</div>
                </div>
            </a>
        </div>
    </div>
</header>
